<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

  <h2>Veterinarians</h2>

  <table id="vets" class="table table-striped" style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <thead>
      <tr>
        <th style="border:1.5px solid red">Name</th>
        <th style="border:1.5px solid red">Specialties</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet : ${vets.vetList}">
        <td style="border:1px solid black" th:text="${vet.firstName + ' ' + vet.lastName}"></td>
        <td style="border:1px solid black"><span th:each="specialty : ${vet.specialties}"
          th:text="${specialty.name + ' '}" /> <span
          th:if="${vet.nrOfSpecialties == 0}">none</span></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
